<div class="my-cards-wrapper" *ngIf="card">
        <div class="my-cards-list">
           <div class="my-card" [ngClass]="{'high': card.priority == 3, 'medium': card.priority == 2, 'low': card.priority == 1}">
              <table id="my-card-table">
                <tr>
                  <td class="left" >Card name:</td>
                  <td><h2>{{card.name}}</h2></td>
                </tr>
                <hr>
                <tr>
                  <td class="left">Description:</td>
                  <td><span>{{card.description}}</span></td>
                </tr>
                <hr>
                <tr>
                  <td class="left">priority:</td>
                  <td>{{card.priority}}</td>
                </tr>
                <hr>
                <tr>
                    <td class="left">id:</td>
                    <td>{{card.id}}</td>
                </tr>
              </table>
              <div class="back-wrapper">
              <button class="buttons get-card" *ngIf="card.status == 'To do'">Get card</button>
              <button class="buttons back" (click)="back()"> Back </button>
              </div>
          </div>
          
        </div>
    </div>