.my-cards-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #fff;
    }
    .my-cards-list{
        width: 50%;
    }
    #my-card-table{
        border-collapse: separate;
        border-spacing: 20px 10px;
       
    }
    #my-card-table tr{
        border-bottom: 1px solid black;
    }
    .my-card{
     
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 30px;
    }
    .left{
        text-align: right;
        width: 150px;
    }
    .back{
        font-size: 20px;
        width: 85px;
        height: 40px;
    }
    .back-wrapper{
        display: flex;
        justify-content: flex-end;
    }
    .get-card{
        width: 85px;
        height: 40px;
        font-size: 20px;
        margin-right: 20px;
    }
    
    
    
    
    
    @media screen and (max-width: 1450px) {
        .my-cards-list{
            width: 60%;
        }
    }
    @media screen and (max-width: 1150px) {
        .my-cards-list{
            width: 70%;
        }
    }