$secondColor:   #fe9900 ;
$mainFont: Phenomena;
$mainGreen: #658138;
*{
    box-sizing: border-box;  
    font-size: 22px;
    font-family: $mainFont;
}
a{
    text-decoration: none;
}

.forgot-password{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-button{
    width: 150px;
    height: 40px;
    margin-left: 7px;
}
.login-form{
    margin: 5px 20px 20px 50px;
}
.login-field-wrapper{
    display: inline-block;
    width: 320px;
    height: auto;
}
#remember-me{
    cursor: pointer;
}
.login-field{
    width: 100%;
    margin-bottom: 15px;
}
.login-margin{
    margin-bottom: 20px;
}

.login-info{
    position: relative;
    top: 35px;
}
.password-info{
    position: relative;
    top: -65px;
    left: -10px;
}
.forgot-password a {
    color: blue;
}
#close-ico{
    position: absolute;
    top: -125px;
    right: -125px;
    transform: scale(0.1);  
    &:hover{
        cursor: pointer;
    } 
}

.login-window{
    width: 600px;
    height: 300px;
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    font-family: $mainFont;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 8px solid lighten($secondColor, 15%);
    padding: 15px 15px;  
    background-color: lighten($mainGreen, 10%);
}
.buttons {
    font-family: $mainFont;
    font-size: 24px;
    background-color: $secondColor;
    color: #fff;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
   box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.36);
 }
  .buttons:hover {
    background-color: lighten($secondColor, 20%);
    cursor: pointer;
 }

 .input-field {
    font-size: 26px;
    padding: 5px 10px;
    cursor: text;
    font-family: Phenomena;
    border: 2px solid lighten($secondColor, 30%);
 }
 .input-field:hover {
    border: 2px solid  $secondColor;
 }
 .input-field:focus{
    border: 2px solid  $secondColor;
    outline: none;
 }

//================================

 