<div class="login-window">
  <form action="" class="login-form">
  <label for="login" class="login-info">Логин:</label><br>
  <label for="password" class="password-info">Пароль:</label>
  <div class="login-field-wrapper">
      <input type="text" name="log" class="input-field login-field" spellcheck="false" [(ngModel)]="this.log"><br>
      <input type="password" name="pwd" class="input-field login-field login-margin" [(ngModel)]="this.pwd"><br>
      <div>
          <label for="checkbox" style="font-size: 18px;">Запомнить меня?</label>
          <input type="checkbox" name="remember me" id="remember-me">
          <input type="button" value="Login" class="buttons login-button" (click)="login(this.log, this.pwd)">
      </div>
  </div>
  <label for="" class="forgot-password"><a href="#">Восстановить</a>&nbsp;пароль, или пройти&nbsp;<a href="#">регистрация</a></label>
  </form>    
  
</div>