<div class="add-card-wrapper">
  <form action="" id="add-card-form">
    <div class="add-field-wrapper">
    <div class="add-card-form-left">
        <label id="card-name-label">Card name:</label><br>
        <Label id="card-description-label">Description:</Label><br>
        <label id="card-status-label">Status:</label>
        
    </div>
    <div class="add-card-form-right">
        <input type="text" class="input-field card-name"><br>
        <textarea name="card-description" class="input-field" id="card-description" cols="30" rows="5" ></textarea><br>
        <select id="card-status" class="input-field">
            <option class="card-status-option">To do</option>
            <option class="card-status-option">In progress</option>
            <option class="card-status-option">On test</option>
        </select>
        <button class="buttons add-new-card">Add new card</button>
    </div>
  </div>
     
    
    
    
  </form>
</div>