<div class="add-card-wrapper">
  <div action="" id="add-card-form">
    <div class="add-field-wrapper">
    <div class="add-card-form-left">
        <label id="card-name-label">Card name:</label><br>
        <Label id="card-description-label">Description:</Label><br>
        <label id="card-priority-label">Priority:</label>
        
    </div>
    <div class="add-card-form-right">
        <input type="text" class="input-field" id="card-name" #cardName><br>
        <textarea  class="input-field" id="card-description" #cardDescription cols="30" rows="5" ></textarea><br>
        <select id="card-priority" #cardPriority class="input-field">
            <option class="card-priority-option" [value]="1">1</option>
            <option class="card-priority-option" [value]="2">2</option>
            <option class="card-priority-option" [value]="3">3</option>
        </select>
        <button class="buttons add-new-card" (click)='addNewCard(cardName.value, cardDescription.value, +cardPriority.value)'>Add new card</button>
    </div>
  </div>
</div>
</div>