
<div class="header">
  <div class="user-info">
   Welcome &nbsp;<span>UserName!</span><br>
  </div>
  <div class="main-menu-wrapper">
  <ul class="main-menu">
    <li routerLink="/main">Scrum Board</li>
    <li routerLink="/cards">My cards</li>
    <li routerLink="/new-card">Add new card</li>
    <li routerLink="/about" class="last-menu-item">About system</li>
  </ul>
  </div>
  
  <div class="right-side-hedder">
    <div class="exit-wrapper">
    </div>
  </div>
</div>

<router-outlet></router-outlet>