<div class="my-cards-wrapper">
    <div class="my-cards-list">
       <div class="my-card">
          <table id="my-card-table">
            <tr>
              <td class="right">Card name:</td>
              <td><h2>Card Name</h2></td>
            </tr>
            <hr>
            <tr>
              <td class="right">Description:</td>
              <td><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium inventore aliquid molestias unde totam quis sunt quidem libero optio. Minima sint consequuntur sapiente saepe velit tempora aliquam sequi necessitatibus nulla.Fugiat ipsa provident distinctio dolore animi maiores esse laborum eaque quas! Veniam voluptas dignissimos molestias. Recusandae maxime eveniet blanditiis repellendus, harum commodi optio, fugiat numquam ex deserunt accusantium nemo vel.</span></td>
            </tr>
            <hr>
            <tr>
              <td class="right">Status:</td>
              <td> In Progress</td>
            </tr>
            <hr>
            <tr>
                <td class="right">Priority:</td>
                <td>high</td>
            </tr>
          </table>
          <div class="job-complete-wrapper">
          <button class="buttons job-complete">job complete</button>
        </div>
      </div>
    </div>
</div>