/* You can add global styles to this file, and also import other style files */
@import url("reset.css");

$secondColor:   #fe9900 ;
$mainFont: Phenomena;
$mainGreen: #658138;

*{
    box-sizing: border-box;  
    font-size: 22px;
    font-family: $mainFont;
}

a{
    text-decoration: none;
}
body{
    min-width: 1120px;
}

//=================header============================
.header{
    min-height: 80px;
    color: black;
    background-color: $mainGreen;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.user-info{
    display: inline-block;
}
.right-side-hedder{
    display: inline-block;
}
.exit-wrapper{
    display: flex;
    justify-content: flex-end;
}

  //=======================Main-menu===========================
  .main-menu-wrapper{
    width: auto;
    height: auto;
    display: inline-block;
  }
  .main-menu{
     width: auto;
     display: flex;
     justify-content: center;
  }
  .main-menu li{
      display: inline-block;
      margin-right: 50px;
      background-color: $mainGreen;
  }
  .last-menu-item{
    margin-right: 0;
}
.main-menu li:hover{
   background-color: lighten($mainGreen, 20%);
   cursor: pointer;
}
  //===========================================================

//=================all buttons stile========================
.buttons {
    font-family: $mainFont;
    font-size: 24px;
    background-color: $secondColor;
    color: #fff;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
   box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.36);
 }
  .buttons:hover {
    background-color: lighten($secondColor, 20%);
    cursor: pointer;
 }

//===========================================================


//=================all input fields==========================
.input-field {
    font-size: 26px;
    padding: 5px 10px;
    cursor: text;
    font-family: Phenomena;
    border: 2px solid lighten($secondColor, 30%);
 }
 .input-field:hover {
    border: 2px solid  $secondColor;
 }
 .input-field:focus{
    border: 2px solid  $secondColor;
    outline: none;
 }
 //===========================================================

 //=================all cards==========================
.card{
    width: 250px;
    color: #fff;
    margin: 10px;
    border: 1px solid $secondColor;
    background-color: khaki;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.cards-field{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  //===========================================================

